.authNav_container {
  display: flex;
  gap: 22px;
}
.authNav_link {
  color: black;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.authNav_link:hover,
.authNav_link:focus {
  color: whitesmoke;
}
