.contactList {
  list-style: none;
  margin-top: 45px;
  padding: 0px;
}

.contactItem {
  background-color: aliceblue;
  display: flex;
  padding: 12px;
  margin-top: 10px;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 10px;
}

.contactDeleteBtn {
  min-width: 25px;
  border: none;
  border-radius: 10%;
  background-color: rgb(105, 5, 5);
  color: rgb(255, 255, 255);
}
